<form action="/signup" method="post"></form>
    <input type="email" name="email" placeholder="Inserta tu email">
    <input type="password" name="password" placeholder="Inserta tu password">
    <button type="submit">Signup</button>
</form>